#pokemon-card-1{
    border-radius: 10px;
    padding: 16px;
   border-color: gold;
    margin: 24px;
    background-image: linear-gradient(to bottom right, lightgreen, green);
    width: 350px;
    max-height: 570px;
    border: 10px solid gold;

}
.card-style-3 img{
    display: flex;
  justify-content: center;
    width: 300px;
    border: 5px solid gold;
    margin: auto;

} 
#pokemon-card-2{
    border-radius: 10px;
    padding: 16px;
   border-color: gold;
    margin: 24px;
    background-image: linear-gradient(to bottom right, lightgreen, green);
    width: 350px;
    max-height: 580px;
    border: 10px solid gold;

}

#pokemon-card-3{
    border-radius: 10px;
    padding: 16px;
   border-color: gold;
    margin: 24px;
    background-image: linear-gradient(to bottom right, orange, red);
    width: 350px;
    max-height: 580px;
    border: 10px solid gold;

}


#pokemon-card-4{
    border-radius: 10px;
    padding: 16px;
   border-color: gold;
    margin: 24px;
    background-image: linear-gradient(to bottom right, lightblue, cyan);
    max-width: 350px;
    max-height: 580px;
    border: 15px solid gold;

}

.attack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    margin-top: 20px;
}
.name{
    display: flex;
    
}
.details{
    background-color: gold;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bold{
    font-weight: bold;
    font-size: 22px;
}
.health{
    font-weight: lighter;
}
.data{
    border: 3px solid gold;
    font-weight: bold;
    font-size: smaller;
    margin-top: 50px;
}
hr { 
    height: 2px; 
    background-color: black; 
    border: none; 
} 
.power{
    font-weight: bold;
}
.pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    margin-top: 0px;
    margin-bottom: 2px;
}