* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-1 {
    background-image: url("../images/BS.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-1 .hero-content {
    text-align: center;
    color: white;
}
#hero-1 h1 {
    font-size: 120px;
    color: aliceblue;
    margin-top: 0px;
    margin-bottom: 2px;
    border: 10px solid whitesmoke;
}
#hero-1 h2 {
    font-size: 72px;
    margin-bottom: 2px;
    margin-top: 0px;
}
#hero-1 h3 {
    font-size: 24px;
}
#hero-1 h4 {
    font-size: 15px;
    margin: 0px;
    margin-bottom: 24px;
}
#hero-1 a {
    font-size: 20px;
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 24px;
    margin-right: 12px;
    margin-left: 12px;
}
#hero-2 {
    background-image: url("../images/RL.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 100px;
}

#hero-2 h4 {
    font-size: 24px;
    position: absolute;
    right: 20%;
    bottom: 62%;
    margin-bottom: 6px;
    color: rgb(28, 29, 28);
}
#hero-2 a {
    font-size: 20px;
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 20%;
    bottom: 30%;

}
#hero-2 h2 {
    font-size: 72px;
    margin-bottom: 2px;
    margin-top: 0px;
    color: white;
    font-size: 72px;
    position: absolute;
    right: 20%;
    bottom: 70%;
}
#hero-3 {
    background-image: url("../images/Su.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
}
#hero-3 h2 {
    font-size: 120px;
    color: rgb(24, 47, 68);
    margin-top: 10px;
}
#hero-3 h4 {
    text-align: right;
    font-size: 48px;
    color: rgb(233, 255, 36);
}
#hero-3 h1 {
    font-size: 36px;
    margin-top: 30px;
}
#hero-3 a {
    font-size: 40px;
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 20%;
    bottom: 30%;
    margin-top: 10px;
}
#hero-3 .hero-content {
    text-align: right;
    position: absolute;
}