* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
}
#hero-1 {
    background-image: url("../images/IMG_0370.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

#hero-1 h1 {
    font-size: 120px; 
    position: absolute;
    left: 20%;
}
.cloumn2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px 20px;
    margin-bottom: 10px;
}
.header {
    grid-column: 1 / -1;
}
.cloumn3 {
    grid-row-end: span 2;
}
.content {
    grid-column: 2;
}
.cloumn2 {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    flex: 1;
}
.cloumn2>* {
    background-color: white;
    padding: 1em;
}
.cloumn2 {
    min-height: 350px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    border-radius: 50px 50px 50px 50px;
}
.button1:hover {
    background-color: #04AA6D;
    color: white;
    border-radius: 50px 50px 50px 50px;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 50px 50px 50px 50px;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
    border-radius: 50px 50px 50px 50px;
}
.button3 {
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    align-items: center;
    border: 2px solid red;
    color: black;
}
.button3:hover {
    background-color: red;
    color: white;
    border-radius: 50px 50px 50px 50px;
}
.button4 {
    background-color: grey;
    border-radius: 5px 50px 50px 50px;
    align-items: center;
}
.button4:hover {
    background-color: black;
    color: white;
    border-radius: 50px 50px 5px 50px;
}
.button5 {
    background-color: grey;
    border-radius: 5px 5px 5px 5px;
    align-items: center;
}
.button5:hover {
    background-color: black;
    color: white;
    border-radius: 5px 5px 5px 5px;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
div {
    text-align: center;
}