* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: ();
    background-color: #444444;
}
#navbar {
    background-color: #9e9e9e;
    display: flex;
    align-items: center;
    
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    padding: 24px;
    border-radius: 20px;
    margin-top: 5px;
}

#navbar a:hover {
    background-color: #000000;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
#navbar #links {
    display: flex;
}
.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    background-color: #3d3d3d;
    width: 100%;
    min-width: 200px;
}
#navbar .dropdown-menu a:hover {
    background: #8f8f8f;
}
.hero {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/1.jpg");
}
.hero-donate {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/8.jpg");
}   
.hero-contact {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/3.jpg");
}  
#layout {
    background-color: #7c7c7ccc;
    border-radius: 30px;
    padding: 24px 48px;
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#layout img {
    width: 550px;
    height: 550px;
    object-fit: cover;
} 
h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    position: relative;
    background: #acacac;
    border-radius: 20px;
    padding: 24px;
    margin-top: 55px;
}
h3 {
    color: white;
    font-size: 30px;
}
p {
    font-size: 44px;
    color: white;
}
h2 {
    color: white;
}
@media screen and (max-width: 350px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar #logo {
        margin-right: 0px;
    }

    #navbar #links a {
        padding: 12px;
    }

    #layout {
        margin: 24px;
    }

    #layout img {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 10px;
    }
}