* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/.png");
    background-color: #444444;
}
#navbar {
    background-color: #0f0f0f;
    border-bottom: 10px solid #ffffff;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    padding: 24px;
    border-radius: 20px;
}

#navbar a:hover {
    background-color: #000000;
}

#navbar #bar {
    margin-right: auto;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;

}
#navbar #bar {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar #links {
    display: flex;
}
.drop-container {
    position: relative;
}

.drop-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}
.drop-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.drop-menu a {
    background-color: #3d3d3d;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #8f8f8f;
}
.hero {
    background-size: cover;
    background-position: center 20%;
    height: 60vh;
    position: relative;
    background-image: url("../images/raccoon back.png");
}
.hero-donate {
    background-size: cover;
    background-position: center 20%;
    height: 60vh;
    position: relative;
    background-image: url("../images/raccoon\ back.png");
} 
.hero-contact {
    background-size: cover;
    background-position: center 20%;
    height: 60vh;
    position: relative;
    background-image: url("../images/raccoon\ 1.png");
}
#layout {
    background-color: #7c7c7ccc;
    border-radius: 30px;
    padding: 24px 48px;
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}
h3{
    color: white;
    font-size: 30px;
}
p {
    font-size: 44px;
}
