@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Tagesschrift&display=swap');
* {
				box-sizing: border-box;
}
body {
				margin: 0px;
				font-family: "Tagesschrift";
}
.thenav {
				overflow: hidden;
				display: flex;
				justify-content: center;
				background-color: rgb(37, 29, 29);
				padding: 10px;
}
.thenav a {
				color: #f2f2f2;
				text-align: center;
				padding: 20px 16px;
				text-decoration: none;
				font-size: 17px;
}
.thenav a:hover {
				background-color: white;
				color: rgb(0, 0, 0);
				text-decoration: underline;
				font-weight: bold;
}
.thenav a.active {
				background-color: #686868;
				color: white;
}
#port {
				background-image: url(../images/urban-hi-res-2nse.jpg);
				height: 80vh;
				box-shadow: inset 0px 0px 30px 12px rgb(37, 29, 29);
				background-size: cover;
				background-position: center center;
				background-attachment: fixed;
}
#port #port-2 {
				position: absolute;
				top: 25%;
				left: 50%;
				margin: auto;
				width: 50%;
				padding: 10px;
				font-size: 72px;
				color: white;
				text-align: center;
}
#gallery {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				border: 10px solid rgb(90, 90, 90);
				grid-auto-rows: 200px;
				gap: 55px;
				border: 2px black bold;
}
#background {
				background: linear-gradient(to top, lightgrey 0%, transparent);
				padding-top: 150px;
				position: relative;
}
#layout {
				max-width: 1500px;
				margin: 30px auto;
}
.grid {
				columns: 3 auto;
				column-gap: 24px;
				padding-top: 36px;
}
.grid img {
				width: 100%;
				margin-bottom: 35px;
				border-radius: 2px;
}
.foot-block {
				display: flex;
				flex-direction: row;
}
.foot {
				justify-content: space-evenly;
				margin: 20px 80px;
				background-color: rgb(54, 43, 43);
				padding: 10px;
}
.foot a {
				color: white;
				text-align: center;
				padding: 20px 100px;
				text-decoration: none;
				font-size: 17px;
				display: inline-block;
}
.foot a:hover {
				background-color: white;
				color: rgb(0, 0, 0);
				text-decoration: underline;
				font-weight: bold;
}
.foot a.active {
				background-color: #686868;
				color: white;
}
h2 {
				color: white;
				text-align: center;
}
.button {
				background-color: #ffffff;
				border: none;
				color: rgb(54, 43, 43);
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
}