.card-style-2{
    border-radius: 50px;
    padding: 36px;
    text-align: center;
    margin: 24px;
    background-color: white;
    width: 350px;
}
.card-style-2 img{
    width: 200px;
    border-radius: 200px;
} 
.animagram-header{
    display: flex;
    justify-content: space-between;
}
.animagram-footer{
    display: flex;
    justify-content: space-between;
}