* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-1{
    background-image: url("../images/lizard.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#hero-1 h1{
    font-size: 120px;
    /* padding-left: 100px; */
    position: absolute;
    left: 20%;
}
#hero-2{
    background-image: url("../images/lonely-ocean.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

#hero-2 h2{
    font-size: 72px;
    position: absolute;
    right: 20%;
}
#hero-2 h4{
    font-size: 24px;
}
#hero-2 a{
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 20%;
    bottom: 41%;
}
#hero-3{
    background-image: url("../images/lonely-ocean.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}