* {
    box-sizing: border-box;}
    
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: ();
    background-color: #7e4b00;
}
    #header {
    position: sticky
    ;top: 0px;
}
    .content-column {
    width: 800px;
    margin: 0px auto;
}
    #navbar-top {
    background-color: #f5b507d7;
}
    #navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
    
    #navbar-top a {
    text-decoration: none;
    color: white;
    padding: 24px 0px;
}
    #navbar-top .content-column div a {
    padding: 24px;
} 
    #navbar-top #logo img {
    width: 150px;
}
    #navbar-top .cta-buttom {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}
    #navbar-bottom {
    background-color: #92731dd7;
    padding: 20px;
}
    #navbar-bottom .content-column {
    display: flex;
    justify-content: space-around;
}
    #navbar-bottom a {
    text-decoration: none;
    color: white;

}
    
    
#layout {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}
.brand {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffff;
}
#navbar a:hover {
    background-color: #000000;
}

#navbar #links {
    display: flex;
}
.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    background-color: #3d3d3d;
    width: 100%;
    min-width: 200px;
    padding: 20px;
}
#navbar .dropdown-menu a:hover {
    background: #8f8f8f;
}
.dropdown-c-b {
    position: relative;}
    
.dropdown-c-m {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s,visibility 0.25s;
    z-index: 10;
}
    
    
    .dropdown-c-b:last-child .dropdown-c-m {
    right: 0px;}
    
    
    .dropdown-c-b:hover .dropdown-c-m {
    opacity: 1;visibility: visible;}
    
    .dropdown-c-m a {
    background-color: darkslateblue;width: 100%;min-width: 200px;}
    
    
.hero {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/1.jpg");
}
.hero-about {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/8.jpg");
}   
.hero-Events {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/3.jpg");
}  
.hero-Menu {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/3.jpg");
}
#layout {
    background-color: #7c7c7ccc;
    border-radius: 30px;
    padding: 24px 48px;
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#layout img {
    width: 550px;
    height: 550px;
    object-fit: cover;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #ffffff;
}
#footer {
    background: linear-gradient(to bottom, rgb(128, 87, 0), #ff9d0a);
    color: white;
    padding: 12px;
}
    #footer a {
    text-decoration: none;
    color: white;
}
    
    #footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
