* {
    box-sizing: border-box;
    }
    body {
    margin: 0px;
    font-family: sans-serif;
    }
    #cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    }
    h1{
    text-align: center;
    }
    .card {
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    }
    #card1 {
    position: relative;
    border: 0px;
    padding: 0px;
    }
    #card1 .card-front,
    #card1 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
    }
    #card1 .card-back {
    transform: scaleX(0);
    }
    #card1 .card-front {
    background-image: url("../images/jacket.png");
    background-size: cover;
    border-radius: 12px;
    width: 50%;
    height: 100%;
    position: absolute;
    }
    #card1 .card-front {
    transition: transform 0.25s;
    }
    #card1 .card-back {
    transition: transform 0.25s;
    }
    #card1:hover .card-front {
    transform: scaleX(0);
    }
    #card1:hover .card-back {
    transform: scaleX(1);
    }
    #card2 {
    position: relative;
    border: 0px;
    padding: 0px;
    }
    #card2 .card-front,
    #card2 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
    }
    #card2 .card-back {
    transform: scaleX(0);
    }
    #card2 .card-front {
    background-image: url("../images/sydney.png");
    background-size: cover;
    border-radius: 12px;
    width: 50%;
    height: 100%;
    position: absolute;
    }
    #card2 .card-front {
    transition: transform 0.5s;
    }
    #card2 .card-back {
    transition: transform 0.25s;
    }
    #card2:hover .card-front {
    transform: scaleX(0);
    }
    #card2:hover .card-back {
    transform: scaleX(1);
    }
    #card3 {
    position: relative;
    border: 0px;
    padding: 0px;
    }
    #card3 .card-front,
    #card3 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
    }
    #card3:hover .card-front {
    transform: scaleX(0);
    }
    #card3 .card-back {
    transform: scaleX(0);
    }
    #card3 .card-front {
    background-image: url("../images/yakuza.png");
    background-size: cover;
    border-radius: 12px;
    width: 50%;
    height: 100%;
    position: absolute;
    }
    #card3 .card-front {
    transition: transform 0.25s;
    }
    #card3 .card-back {
    transition: transform 0.25s;
    }
    #card3:hover .card-front {
    transform: scaleX(0);
    }
    #card3:hover .card-back {
    transform: scaleX(1);
    }
    #card4 {
    position: relative;
    border: 0px;
    padding: 0px;
    }
    #card4 .card-front,
    #card4 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
    }
    #card4 .card-back {
    transform: scaleX(0);
    }
    #card4 .card-front {
    background-image: url("../images/sokol.png");
    background-size: cover;
    border-radius: 12px;
    width: 50%;
    height: 100%;
    position: absolute;
    }
    #card4 .card-front {
    transition: transform 0.25s;
    }
    #card4 .card-back {
    transition: transform 0.25s;
    }
    #card4:hover .card-front {
    transform: scaleX(0);
    }
    #card4:hover .card-back {
    transform: scaleX(1);
    }