@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, rgb(87, 87, 87), #797979);
    display: flex;
    justify-content:space-evenly;
    color:white;
    font: 62.5% "Montserrat", sans-serif;
    font-size: larger;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar-2 {
    background: linear-gradient(to bottom, rgb(196, 153, 14), #ec9615);
    display: flex;
    align-items: center;
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar-2 .buttom {
    background-color: white;
    color: rgb(41, 167, 37);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#navbar-2-2 h2{
    background-color: rgba(255, 122, 33, 0.904);
    color: rgb(255, 255, 255);
    border-radius: 36px;
    padding: 6px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}
#navbar-2-2{
    background-color: #ec9615;
}
#navbar-2-2 .buttom {
    background-color: rgb(255, 193, 24);
    color: rgb(255, 255, 255);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    text-align: center;
    margin-right: 24px;
    position: absolute;
    top: 50%;
    text-align: center;
}
#navbar-3-top {
    background: linear-gradient(to bottom, rgb(0, 0, 0), #ff6f10);
}

#navbar-3-top .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-3-top a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 50px;
}
.column {
    width: 800px;
    margin: 0px auto;
}
#navbar-3-top .column{
    padding: 24px;
}

#navbar-3-top .buttom-3 {
    background-color: rgb(7, 6, 6);
    color: rgb(255, 208, 0);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-3-bottom {
    background: linear-gradient(to top, rgb(0, 0, 0), #ff6f10);
}

#navbar-3-bottom .column {
    display: flex;
    justify-content: space-between;
}

#navbar-3-bottom a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 0px;
    font-size: 20px;
}
#BOGO{
    font-size: 50px;
    background-color: #000000;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), #ff6f10);
    color: white;
    text-align: center;
  }


  #footer-navbar {
  width: 800px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.buttom-back{
    background-color: rgb(255, 193, 24);
    color: rgb(255, 255, 255);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    text-align: center;
    position:fixed;
    top: 50%;
}