@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, rgb(87, 87, 87), #797979);
    display: flex;
    justify-content:space-evenly;
    color:white;
    font: 62.5% "Montserrat", sans-serif;
    font-size: larger;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#nav-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#nav-2 img {
    width: 200px;
}

#nav-2 #logo {
    margin-right: auto;
}

#nav-2 .button {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#nav-2-L {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#header {
    position: sticky;
    top: 0px;
}

#nav-2-bottom {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}

#nav-2-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}