
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(82, 82, 82);
}

.cloumn2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px 20px;
    margin-bottom: 10px;
    
}
.header {
    grid-column: 1 / -1;
    border-radius: 21px;
    width: 100%;
    align-items: center;

}
.cloumn3 {
    grid-row-end: span 2;
}
.content {
    grid-column: 2;
}
.cloumn2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    flex: 1;
}
.cloumn2>* {
    background-color: white;
    padding: 1em;
}
.cloumn2 {
    min-height: 350px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    right: 40%;
}
.button1:hover {
    background-color: #04AA6D;
    color: white;
    border-radius: 50px 50px 50px 50px;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    right: 40%;

}
.button2:hover {
    background-color: #008CBA;
    color: white;
    border-radius: 50px 50px 50px 50px;
}
.button3 {
    background-color: white;
    align-items: center;
    border: 2px solid rgb(101, 0, 126);
    color: black;
}
.button3:hover {
    background-color:  rgb(101, 0, 126);
    color: white;
    border-radius: 50px 50px 50px 50px;
}
.button4 {
    background-color: grey;
    border-radius: 5px 50px 50px 50px;
    align-items: center;
}
.button4:hover {
    background-color: black;
    color: white;
    border-radius: 50px 50px 5px 50px;
}
.button5 {
    background-color: grey;
    border-radius: 5px 5px 5px 5px;
    align-items: center;
}
.button5:hover {
    background-color: black;
    color: white;
    border-radius: 5px 5px 5px 5px;
}
h2 {
    text-align: center;
    background-color: #8e1a1a;
    padding: 24px;
    border-radius: 25px;
    color: aliceblue;

}
h3 {
    color: black;
}
p {
    text-align: center;
}
div {
    text-align: center;
}
h1 {
    font-size: 100px;
    margin: 0.1px;
}
.two-columns-1{
    display: flex;
    height: 500px;
    width: 500px;
    margin-bottom: 45px;

}
.two-columns-2 {
    display: flex;
    height: 500px;
    width: 500px;
    margin-bottom: 45px;

}
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
