* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: left;}
h4 {text-align: left;}
p {text-align: left;}
div {text-align: left;}