/* Drill 1 - Write your code solution below */
#d1-div1 {
    margin-bottom: 25px;
    }

/* Drill 2 - Write your code solution below */
.d2-div{
    margin-top: 25px;
    margin-bottom: 25px;
    }
/* Drill 3 - Write your code solution below */
#d3-div1{
    margin-bottom: 25px;
    }

/* Drill 4 - Write your code solution below */
#d4-div1 {
    margin-bottom: 25px;
    }
#d4-div3{
    margin-top: 25px;
    }
/* Drill 5 - Write your code solution below */
.d5-div {
    text-align: center;
    }
    
    #d5-h5-1 {
    margin-bottom: 0px;
    }
    
    #d5-h1-1 {
    margin: 0px;
    }
/* Drill 6 - Write your code solution below */
.d6-div{
 margin-right: 49px;
}

/* Drill 7 - Write your code solution below */
#d7-div1 {
    margin-left: 100px;
    margin-right: 50px;
    }
    #d7-div3 {
    margin-left: 50px;
    }