* {
    box-sizing: border-box;
    }
    body {
    margin: 0px;font-family: sans-serif;
    }
    #nav {
    background-color: #222222;
    display: flex;
    justify-content: center;
    }
    #nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    }
    .single-column-layout {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    } 
    .intro {
    display: flex;
    align-items: center;
    gap: 48px;
    }
    .image-container, .content-container {
    flex: 1;
    }
    .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    }
    .image-container{
    height: 400px;
    }
    .content-container h1 {
    font-size: 48px;
    color: #ffb700;
    }
    .featured {
    background-color: #222222;color: white;padding: 24px 0px;
    }
    .featured h2 {
    font-size: 36px;text-align: center;
    }
    .grid img {
    width: 100%;height: 300px;object-fit: cover;border-radius: 24px;}
    
    
    
    @media screen and (max-width: 740px) and (min-width: 450px) {
    body {
    background-color: skyblue;
    }
    .content-containerh1 {
    font-size: 28px;
    }
    .intro{
    gap: 24px;
    }
    .image-container{
    height: 300px;
    }
    }
    @media screen and (max-width: 450px) {
    body {
    background-color: firebrick;
    }
    #nav{
    flex-direction: column;
    align-items: center;
    }
    .intro{
    flex-direction: column;
    gap: 24px;
    }.content-containerh1 {
    margin: 0px;
    font-size: 28px;
    }
    .content-container{
    text-align: center;
    }}
