* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: ();
    background-color: #7e4b00;
}
#navbar {
    background-color: #f5b507d7;
    display: flex;
    align-items: center;
    
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    padding: 24px;
    border-radius: 20px;
    margin-top: 5px;
}
.brand {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffff;
}

#navbar a:hover {
    background-color: #000000;
}

#navbar #links {
    display: flex;
}
.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    background-color: #3d3d3d;
    width: 100%;
    min-width: 200px;
}
#navbar .dropdown-menu a:hover {
    background: #8f8f8f;
}
.hero {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/1.jpg");
}
.hero-about {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/8.jpg");
}   
.hero-Events {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/3.jpg");
}  
.hero-Menu {
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;
    background-image: url("../images/3.jpg");
}  
h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    background: #acacac;
    border-radius: 20px;
    padding: 24px;
    margin-top: 55px;
}
h3 {
    color: white;
    font-size: 30px;
}
p {
    font-size: 44px;
    color: white;
}
h2 {
    color: white;
}
