* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: sans-serif;
	background-color: #7E5E25;
	color: white;
}
.content-column {
	width: 800px;
	margin: 0px auto;
}
.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 16px;
	background-color: #7E5E25;
	display: block;
	margin: auto;
}
#navbar-top {
	background-color: #7E5E25;
	font-size: 30px;
	border-style: 12px white;
}
#navbar-top a:hover {
	background: white;
	color: #7f1a18;
}
#navbar-top .content-column {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#navbar-top a {
	text-decoration: none;
	color: white;
	padding: 24px 0px;
}
#navbar-top .content-column div a {
	padding: 24px;
}
#navbar-top #logo img {
	width: 120px;
}
#navbar-top .cta-buttom {
	background-color: white;
	color: #7E5E25;
	border-radius: 36px;
	padding: 16px 24px;
	font-size: 20px;
	font-weight: bold;
	min-width: 150px;
	text-align: center;
}
#navbar-bot {
	background: #bca266;
	font-size: 25px;
}
#navbar-bot .content-column {
	display: flex;
	justify-content: space-around;
}
#navbar-bot a {
	text-decoration: none;
	color: white;
	padding: 12px 12px;
	margin: 10px;
}
#navbar-bot a:hover {
	background: white;
	color: #7f1a18;
}
#layout {
	width: 600px;
	margin: 48px auto;
	font-size: 24px;
	height: 150vh;
}
#nav {
	background-color: #fff0cb;
	padding: 20px;
	display: flex;
	justify-content: center;
	gap: 125px;
}
#nav a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
#flex-side-by-side {
	width: 80vw;
	max-width: 800px;
	margin: 40px auto;
	display: flex;
	align-items: center;
	gap: 50px;
}
.image-container {
	height: 400px;
}
#grid-side-by-side {
	background-color: #fff0cb;
	padding: 40px;
	display: grid;
	grid-template-columns: 250px 250px;
	grid-auto-rows: 150px;
	justify-content: center;
	gap: 50px;
}
#hero-2 {
	background-image: url("../images/her.png");
	height: 70vh;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	margin-bottom: 100px;
}
#hero-2 h2 {
	font-size: 72px;
	position: absolute;
	right: 59%;
	bottom: 50%;
	color: #333333;
}
#hero-2 h4 {
	font-size: 24px;
	position: absolute;
	right: 73%;
	bottom: 47%;
	color: #333333;
}
#hero-2 a {
	font-size: 14px;
	display: inline-block;
	background-color: #333333;
	color: white;
	text-decoration: none;
	padding: 24px;
	position: absolute;
	right: 20%;
	bottom: 41%;
}
.single-column {
	min-width: 600px;
	max-width: 1200px;
	margin: 0px auto;
}
#main-section {
	padding: 48px;
}
h1 {
	font-size: 60px;
	text-align: center;
}
.side-by-side {
	display: flex;
	align-items: center;
	margin: 48px 0px;
}
.side-by-side .image-container {
	flex: 1;
}
.side-by-side .text-container {
	flex: 1;
	padding: 36px;
}
.side-by-side .image-container img {
	width: 100%;
}
.side-by-side .text-container h3 {
	font-size: 48px;
}
.side-by-side .text-container a {
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	background-color: #7f1a18;
	color: white;
	padding: 24px 48px;
	border-radius: 48px;
}
.two-columns {
	display: flex;
	height: 100vh;
}
.big-text-column, .img-column {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.big-text-column {
	background-color: #7f1a18;
	color: white;
}
.column-content {
	margin: 48px;
	text-align: center;
}
.img-column img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.horizontal-masonry-gallery {
	display: flex;
	flex-wrap: wrap;
}
.horizontal-masonry-gallery img {
	height: 250px;
	flex: 1;
	object-fit: cover;
}
#menu-container {
	max-width: 1500px;
	margin: 48px auto;
}
#menu-container h2 {
	font-size: 35px;
	text-align: center;
	padding: 50px;
}
#menu-container .basic-grid-gallery-menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin: 0px 30px;
}
#menu-container .basic-grid-gallery-menu .card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 18px;
}
#menu-container .basic-grid-gallery-menu .card {
	border: 2px solid #7f1a18;
	padding: 15px;
	border-radius: 18px;
}
#menu-container .basic-grid-gallery-menu .card a {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	background-color: #7f1a18;
	color: #bca266;
	padding: 10px;
	border-radius: 18px;
	width: 100%;
	text-align: center;
}
#menu-container .basic-grid-gallery-menu .title-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#menu-container .basic-grid-gallery-menu .title-price p {
	font-size: 14px;
}
#menu-container .basic-grid-gallery-menu .card p.card-paragraph {
	height: 80px;
}
#menu-container .title {
	padding: 50px;
}
#menu-container .title h1 {
	font-size: 50px;
	text-align: center;
}
#main-section-menu .single-column {
	background-color: #bca266;
	padding: 20px 40px 20px 45px;
	border-radius: 18px;
}
#main-section-menu .text-container h3 {
	font-size: 18px;
}
#main-section-menu .text-container {
	text-align: center;
	padding-right: 20px;
	border-radius: 18px;
}
#main-section-menu .text-container h1 {
	border-bottom: 1px solid black;
}
#main-section-menu .text-container p span {
	text-decoration: line-through;
}
#footer {
	background: black;
	color: white;
	padding: 12px;
}
#footer a {
	text-decoration: none;
	color: white;
}
#footer-navbar {
	width: 800px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}
.content-column {
	width: 800px;
	margin: 0px auto;
}
@media screen and (max-width: 350px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar #logo {
        margin-right: 0px;
    }

    #navbar #links a {
        padding: 12px;
    }

    #layout {
        margin: 24px;
    }

    #layout img {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 10px;
    }
}