/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
#p{
width: 300px;
border: 15px solid green;
padding: 50px;
margin: 20px;
}
#pic1{
    width: 80px;
    margin-top: 24px ;
    margin-bottom: 31px ;
    border: 10px solid black;
    border-style: outset;
    background-color: beige;
    padding-bottom: 125%;
   
}
#pic2{
    width: 100%;
    margin-top: 100px;
    border: 10px solid red;
    background-color: pink;
    border: 5px solid firebrick;
    border-radius: 5px;
    padding-top: 25%;
}

#pic3{
    width: 100px;
    padding: 24px;
    margin-top: 10px ;
    border: 10px solid lightblue;
    border-style:inset;
    background-color: pink;
    
}
